body {
  background: burlywood;
}

h1 {
  text-align: center;
}

#trials {
  text-align: center;
  margin-top: 50px;
}

.container-form {
  text-align: center;
  margin-top: 80px;
}

#valide {
  display: none;
}

#container-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#container-button button {
  padding: 10px;
  text-transform: uppercase;
  border-radius: 10px;
  display: none;
}

#propositions {
  text-align: center;
  margin-top: 50px;
}
